	
/*************************
*******Home Page******
**************************/

#main-slider1 {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.tabl {
width:100%;
}

.tabl table tr td {
border:thin solid #CCCCCC;
padding:7px !important;
}


#main-slider1 .carousel-caption{
	right:0px;
	left:15px;
	bottom:auto;
	top: 25%;
	}

#main-slider1 .carousel-caption h2{
	color:#fff;
	font-size:35px;
	font-weight:500;
	text-align:left;
	}

#main-slider1 .carousel-caption h2 .orange {
  	color: #f6a800;
	font-size:45px;
	font-weight:700;
	}
#main-slider1 .carousel-caption h2 .yellow {
  	color: #ffcc00;
	}
.banner-txt-rotate{
	text-align:left;
	font-size:35px;
	line-height:50px;
	}
.banner-txt-rotate .carousel-inner{
	float: left;
	width: 70%;
	font-weight:300;
	}
.banner-txt-rotate .yellow {
  	color: #ffcc00;
	float: left;
	margin-right:10px;
	}
.banner-training{
	background:#333333;
	}
.carousel-inner img{
	width:100%;
	}
.banner-training-item .col-md-2{
	width:20%;
	padding:0px;
	}

.banner-training-item .training-item {
	color:#b4b4b4;
	padding:15px 10px 10px;
	font-size:13px;
	text-align:center;
	position: relative;
	bottom: 0px;
	transition: all 0.5s;
	}
.banner-training-item .training-item img{
	transition: all .7s;
	}
.banner-training-item .training-item:hover{
	background: #f5811d;
	bottom: 10px;
	color:#ffe2c9;
	}
.banner-training-item .training-item:hover img{
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
	}
.banner-training-item .training-item h2{
	font-weight:400;
	color:#fff;
	margin-top:10px;
	margin-bottom:5px;
	font-size:16px;
	text-transform:uppercase;
	}
#main-slider1 .carousel-indicators{
	bottom:-5px;
	}
.news-update-panel{
	
	margin-top:10px;
	border-left:0px;
	border-right:0px;
	}
.news-update-panel h3{
	position:relative;
	float:left;
	margin:0px;
	background:#f33131;
	padding:8px 10px;
	text-transform:uppercase;
	}
.news-update-panel h3:after{
	content:'';
	position:absolute;
	right:-20px;
	top: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #f33131;
	}
.news-update-panel h3 span{
	font-size:18px;
	color:#fff;
	font-weight:700;
	}
.news-update-panel .carousel-inner{
	float:left;
	width:auto;
	margin-left:30px;
	margin-top:8px;
	}
.news-update-panel .news-control{
	display:inline-block;
	color:#B5B5B5;
	margin:0 5px;
	}
.news-update-panel .news-control:hover{
	color:#bb2929;
	}
.news-control-box{
	margin-top:8px;
	}
.icn{
	height: 90px;
	width: 90px;
	margin: 3px;
	border-radius: 100%;
	line-height: 113px;
	text-align: center;
	background: #ffffff;
	color: #c52d2f;
	display:inline-block;
	border: 3px solid #ffffff;
	box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	}
.feature-learning{
	margin-top:20px;
	}
.feature-learning span{
	display:block;
	}
.icn-course:before{
	content:url(../images/cources-icon.png);
	}
.icn-study:before{
	content:url(../images/study-icon.png);
	}
.icn-asst:before{
	content:url(../images/assignment-icon.png);
	}
.icn-expert:before{
	content:url(../images/mentors-icon.png);
	}
.icn-project:before{
	content:url(../images/project-icon.png);
	}
.icn-e-learning:before{
	content:url(../images/e-learning-icon.png);
	}
.icn.icn-e-learning{
	line-height:127px;
	}
.big-btn .btn{
	font-size:24px;
	}
#depth-learning{
	background:#f5f5f5;
	}
#populer-courses{
	background:#FFFFFF;
	}
.feature-depth{
	background:#313131;
	padding:5px 0;
	}
.feature-depth span{
	color:#fff;
	display:block;
	margin-top:5px;
	}
.analytis-item{
	padding:10px 0;
	}
#testimonial{
	background:url(../images/testimonials-bg.jpg) no-repeat center;
	background-size:cover;
	}
#testimonial .container{
	min-height:280px;
	}
.testimonial .speak-item {
	font-size:16px;
	line-height:28px;
	}
.testimonial .speak-item span{
	display:block;
	margin-top:20px;
	}
.testimonial .speak-item span strong{
	font-size:18px;
	display:block;
	}
.testimonial .speak-item p:before{
	content:"\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:25px;
	margin-right:10px;
	}
.testimonial .speak-item p:after{
	content:"\f10e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:25px;
	margin-left:10px;
	}
#mentors{
	padding-bottom:0px;
	background:#f5f5f5;
	}
#mentors .mentor-dtl{
	min-height:215px;
	}
.course-item{
	border:1px solid #d4d4d4;
	border-radius:3px;
	margin-bottom:20px;
	position:relative;
	}
.course-item .course-img{
	padding:8px;
	background:#fff;
	}
.course-item .course-label{
	border-top:2px solid #bb2929;
	background:#eeeeee;
	padding:5px;
	font-weight:700;
	}
.course-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 0;
	background: #c52d2f;
	color: #fff;
	vertical-align: middle;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	}
.course-item .overlay .overlay-txt{
	padding: 5px 10px;
	text-align:left;
	}
.course-item .overlay .overlay-txt h3{
	margin:0px 0 5px 0;
	font-size:16px;
	text-align:center;
	}
.course-item .overlay .overlay-txt ul{
	margin-bottom:0px;
	}
.course-item .overlay .overlay-txt ul li{
	font-size:13px;
	line-height:19px;
	}
.course-item .overlay .overlay-txt ul li:before{
	content:"\f00c";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:13px;
	margin-right:5px;
	}
.course-item .overlay .overlay-read{
	position: absolute;
	bottom: 0px;
	height: 34px;
	text-align: center;
	width: 100%;
	background-color: #000;
	padding:5px;
	}
.course-item .overlay a, .course-item .overlay h3{
	color:#fff;
	border-bottom:1px solid #fff;
	}
.course-item:hover .overlay {
	opacity:.8;
	}
#partner-slider img{
	display:inline-block;
	width:auto;
	}	
#partner-slider .owl-buttons .owl-prev{
	position:absolute;
	top:40%;
	left:-20px;
	font-size:30px;
	color:#d4d4d4;
	font-size:0;
	}
#partner-slider .owl-buttons .owl-prev:hover, #partner-slider .owl-buttons .owl-next:hover{
	color:#bb2929;
	}
#partner-slider .owl-buttons .owl-prev:after{
	position:absolute;
	content:"\f053";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:25px;
	margin-right:10px;
	}
#partner-slider .owl-buttons .owl-next{
	position:absolute;
	top:40%;
	right:-10px;
	font-size:30px;
	color:#d4d4d4;
	font-size:0;
	}
#partner-slider .owl-buttons .owl-next:after{
	position:absolute;
	content:"\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:25px;
	}
#partner-slider .col-md-2{
	width:20%;}


#top-link-block.affix-top {
	
	font-size:30px;
    position: absolute; /* allows it to "slide" up into view */
    bottom: -95px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
	  -webkit-transition: color 1000ms, background-color 1000ms;
  -moz-transition: color 1000ms, background-color 1000ms;
  -o-transition: color 1000ms, background-color 1000ms;
  transition: color 1000ms, background-color 1000ms;
}
#top-link-block .btn{
	font-size:18px;
	}
#top-link-block.affix {
	font-size:30px;
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 5px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block .btn{
	padding:2px 12px;
	}
.g-top{
	right: 10px;
	position: fixed;
	bottom: 3px;
	}
.field{
	margin-bottom:10px;
	}
.modal-content .panel{
	margin:0px;
	}
.modal-content .panel .panel-title{
	font-size:20px;
	font-weight:400;
	}
.modal-content .panel-primary .close{
	color:#fff;
	opacity:.8;
	}
#quick_query .input-group-addon{
	padding:3px 12px;
	}
/*************************
*******Inner Page******
**************************/

#breadcrumb{
	background:#f5f5f5;
	}
.breadcrumb{
	margin-bottom:0px;
	padding:8px 0px;
	}
.breadcrumb > li + li::before {
	content: "icon";
	text-indent: -999em;
	display: inline-block;
	width: 31px;
	height: 25px;
	background: url(../images/breadcrumb-sap.png) center 0px no-repeat;
}
.breadcrumb > li, .breadcrumb .active {
  display: inline-block;
  color:#cfcfcf;
  line-height:25px;
}
.breadcrumb a{
	color:#2f2f2f;
	}
.breadcrumb a:hover{
	color:#bb2929;
	}
.red-heading{
	border-left:4px solid #bb2929;
	font-size:20px;
	font-weight:400;
	color:#bb2929;
	line-height:30px;
	padding-left:15px;
	margin-top:0px;
	text-transform:uppercase;
	}
.my-widget{
	margin-bottom:20px;
	}
.my-widget h3, .overview_sub_head{
	color:#2f2f2f;
	font-size:16px;
	border-bottom:2px solid #909090;
	padding:5px 15px;
	margin-top:20px;
	background:#f4f4f4;
	}
.my-widget h4{
	color:#2f2f2f;
	font-size:14px;
	border-bottom:1px solid #909090;
	padding:7px 15px;
	font-weight:400;
	background:#f4f4f4;
	}
.my-widget .inline-list{
	margin:0px;
	padding:0px;
	}
.my-widget-inn{
	padding:0 15px;
	}
.my-widget .inline-list li{
	display:inline-block;
	padding:0 20px;
	border-left:1px solid #2f2f2f;
	min-width:105px;
	}
.my-widget .inline-list li:first-child{
	padding-left:0px;
	border:none;
	}
.instruction-list{
	padding-left:0px;
	}
.instruction-list li{
	list-style:none;
	line-height:30px;
	}
.instruction-list li:before{
	content:"\f0a1";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	margin-right:10px;
	}
.test-btn{
	float:right;
	}
.inner-panel{
	margin-bottom:20px;
	}
.asst-menu-rt ul{
	margin:0px;
	padding:0px;
	}
.asst-menu-rt ul li{
	margin-bottom:5px;
	list-style:none;
	padding:3px 0;
	}
.asst-menu-rt ul li i{
	margin-right:5px;
	}
.asst-menu-rt ul li a{
	display:block;
	}
.asst-menu-rt ul li a:hover{
	background:#f2f2f2;
	}
.link-black a{
	color:#515151;
	}
.link-black a:hover{
	color:#bb2929;
	}
.course-page-tab{
	margin-top:20px;
	}
.c-overview{
	padding:5px 0;
	}
.c-overview p{
	padding:10px 15px;
	text-align:justify;
	}
.c-overview h4{
	padding:0 15px;
	font-size: 16px;
	color: #787878;
	font-weight: 400;
	line-height: 24px;
	margin-top: 10px;
	}
.overview-text{
	padding:15px;
	}
.overview-text h3{
	color:#2f2f2f;
	}
.list-style-1, .c-overview .overview_list ul{
	margin:0px;
	padding:0px;
	}

.list-style-1 li, .c-overview .overview_list ul li{
	list-style:none;
	margin:5px 0;
	}
.list-style-1 li:before, .c-overview .overview_list ul li:before{
	content:"\f08b";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	margin-right:5px;
	}
.course-content h3{
	margin-top:15px;
	padding:0 15px;
	color: #2f2f2f;
	text-transform:uppercase;
	margin-bottom:0px;
	}
.course-page-tab .nav-tabs>li>a {
	border-radius:0px;
	font-size:16px;
	background:#2f2f2f;
	color:#fff;
	text-transform:uppercase;
	}
.course-page-tab .nav-tabs li a:first-child{
	margin-left:15px;
	}
.course-page-tab .nav-tabs>li>a:hover{
	background:#2f2f2f;
	color:#fff;
	border-color:#2f2f2f;
	}
.course-page-tab .nav-tabs>li.active>a, .course-page-tab .nav-tabs>li.active>a:focus, .course-page-tab .nav-tabs>li.active>a:hover {
	border-top:3px solid #2f2f2f;
	background:#fff;
	color:#2f2f2f;
	border-bottom:transparent;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	}
.course-accordian .panel-body{
	padding:0px;
	}
.partner-logo{
	background:url(../images/partner-logo-bg.png) no-repeat;
	background-size:contain;
	padding:10px;
	}
.related-course ul{
	padding:0px;
	}
.related-course ul li{
	list-style:none;	
	}
.related-course ul li a{
	color: #2f2f2f;
	font-size: 14px;
	display:block;
	border-bottom: 1px solid #909090;
	padding: 4px 15px 4px 30px;
	position:relative;
	font-weight: 400;
	background: #f4f4f4;
	}
.related-course ul li a:hover{
	background:#2f2f2f;
	color:#fff;
	}
.related-course ul li a:before{
	content:"\f058";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	position: absolute;
	left: 10px;
	}

.course-content .ms_cc_ancher{
	padding:15px;
	}
.course-content .ms_cc_ancher li{
	list-style:none;
	}
.course-content .ms_cc_ancher li a{
	padding:5px 10px;
	color: #2f2f2f;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #909090;
	font-weight: 400;
	background: #f4f4f4;
	}
.course-content .ms_cc_ancher li a:hover{
	background: #2f2f2f;
	color: #fff;
	}
.overview_list{
	padding:5px 15px;
	}
.course-query{
	padding:15px;
	}
.overview_list h2{
	padding:6px 10px;
	color: #2f2f2f;
	font-size: 16px;
	display: block;
	margin-top:0px;
	background: #f4f4f4;
	border-bottom: 1px solid #909090;
	}
.overview_list ul{
	list-style:none;
	padding-left:10px;
	}
.overview_list ul li{
	padding:3px 0 3px 20px;
	position: relative;
	border-bottom: 1px solid #F4F4F4;
	}
.overview_list ul li .btn{
	line-height:10px;
	}
.overview_list ul li:before{
	font-family: FontAwesome;
	font-style: normal;
	left:0px;
	position:absolute;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	margin-right:5px;
	}
.overview_list>ul>li:before{
	content:"\f0a9";
	}
.overview_list>ul>ul{
	margin-left:10px;
	}
.overview_list>ul>ul>li:before{
	content:"\f101";
	}
.course-query{
	background:url(../images/pattern.png);
	}
.captcha-bx{
	border:1px solid #d4d4d4;
	padding: 3px 0 4px;
	border-radius:4px;
	background:#F0F0F0;
	}
.font-s16{
	font-size:16px;
	}
.depth-banner-text{
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 25%;
	text-align:left;
	}
.depth-banner-text .txt1{
	width:515px;
	font-size:40px;
	font-weight:300;
	}
.depth-banner-text .txt2{
	width:450px;
	margin-top:10px;
	font-size:40px;
	font-weight:400;
	color: #f6a800;
	}
.depth-banner-text .txt-bx{
	background:rgba(0, 0, 0, 0.75);
	position:relative;
	padding:20px;
	}
.depth-banner-text .txt-bx:after{
	content: '';
	border-bottom: 62px solid transparent;
	position: absolute;
	right: -49px;
	top: 0px;
	border-left: 49px solid rgba(0, 0, 0, 0.75);
	}
.mentors-banner-text{
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 22%;
	text-align:left;
	}
.mentors-banner-text .txt1{
	width:550px;
	font-size:42px;
	font-weight:300;
	}
.mentors-banner-text .txt2{
	width:450px;
	margin-top:10px;
	font-size:42px;
	font-weight:400;
	color: #f6a800;
	}
.mentors-banner-text .txt-bx{
	background:rgba(0, 0, 0, 0.75);
	position:relative;
	padding:20px;
	float:right;
	text-align:right;
	clear: both;
	}
.mentors-banner-text .txt-bx:before{
	content: '';
	border-bottom: 62px solid transparent;
	top: 0px;
	border-right: 49px solid rgba(0, 0, 0, 0.75);
	position: absolute;
	left: -49px;
	}
.in-depth-feature{
	margin-bottom:10px;
	}
.in-depth-feature .icn-box{
	width:110px;
	height:110px;
	margin:auto;
	}
.in-depth-feature .icn-box .icn{
	width:100%;
	height:100%;
	}
.in-depth-feature .icn-box .icn-mock{
	background: url(../images/mock-test-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-analysis{
	background: url(../images/statistical-analysis-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-graphical{
	background: url(../images/graphical-presentation-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-explanation{
	background: url(../images/detailed-explanation-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-progress{
	background: url(../images/progress-tracking-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-accessible{
	background: url(../images/learning-icn.png) no-repeat center center;
	}
.in-depth-feature .icn-box .icn-gadgets{
	background: url(../images/gadgets-icn.png) no-repeat center center;
	}
.feature-360{
	padding:20px 0;
	}
.feature-360 h3{
	font-size:16px;
	font-weight:700;
	margin: 10px 0;
	color:#343434;
	}
.gray-panel{
	background:#f5f5f5;
	}
.assessment-banner-text{
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 25%;
	text-align:right;
	}
.assessment-banner-text .txt1{
	font-size:32px;
	font-weight:700;
	}
.assessment-banner-text .txt2{
	font-size:30px;
	margin-top:20px;
	color:#ffb56c;
	font-weight:400;
	}
.pointer-list{
	padding:0px;
	}
.pointer-list li{
	list-style:none;
	padding:3px;
	}
.pointer-list li:before{
	content:'\f0a4';
	margin-right:10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	}
.mock-test-item{
	margin:10px 0;
	}
.mock-test-item .icn-box{
	width:90px;
	height:90px;
	margin:auto;
	margin-bottom:10px;
	}
.mock-test-item .icn-box .icn{
	width:100%;
	height:100%;
	background:#2f2f2f;
	line-height: 121px;
	box-shadow:0 0 0 5px #f2f2f2;
	-webkit-box-shadow:0 0 0 5px #f2f2f2;
	}
.mock-test-item:hover .icn-box .icn{
	background:#587881;
	box-shadow:0 0 0 5px #F5811D;
	-webkit-box-shadow:0 0 0 5px #F5811D;
	}
.mock-test-item .icn-box .icn-question:before{
	content:url(../images/question-bank-icn.png);
	}
.mock-test-item .icn-box .icn-access:before{
	content:url(../images/2417-icn.png);
	}
.mock-test-item .icn-box .icn-secure:before{
	content:url(../images/secure-access-icn.png);
	}
.mock-test-item .icn-box .icn-platform:before{
	content:url(../images/collaborative-platform-icn.png);
	}
.mock-test-item .icn-box .icn-analytical:before{
	content:url(../images/advance-analytical-icn.png);
	}
.mock-test-item .icn-box .icn-explanation:before{
	content:url(../images/qa-explanation-icn.png);
	}
#detail-form{
	background:#f2f2f2;
	}
.quick-query-btn {
  z-index: 999;
}
.quick-query-btn a {
  display: block;
  cursor: pointer;
}
#quick_query #basic-addon1.input-group-addon{
	padding:2px 12px;
	}

/*************************
*******test report******
**************************/
.attmt-id{
	background:#f2f2f2;
	display:inline-block;
	padding:10px;
	font-size:16px;
	float:right;
	}
/*************************
*******Induistrail Training******
**************************/
.inds-trainig-btn .btn{
	display:block;
	text-align:left;
	}
.inds-trainig-btn .btn{
	display:block;
	background:#484441;
	color:#fff;
	padding:0px;
	font-weight:700;
	font-size:30px;
	  height: 73px;
	}
.inds-trainig-btn .btn:hover span{
	background:#f5811d;
	}
.inds-trainig-btn .btn:hover i{
	background:#bb5b08;
	}
.inds-trainig-btn .btn span{
	display:block;
	padding:0px 20px;
	line-height:71px;
	}
.inds-trainig-btn .btn i{
	display: block;
	padding: 0px 26px;
	position: absolute;
	right: 16px;
	line-height:71px;
	background:#393531;
	border-left:1px solid #fff;
	color:#ffddbf;
	border-radius:0 3px 3px 0;
	height: 71px;
	}
.inds-trainig-item{
	margin:20px 0;
	}
.inds-trainig-item .col-md-2{
	width:20%;
	padding:0px;
	}
.inds-trainig-item .inds-item {
	color: #b4b4b4;
	padding: 15px 10px 10px;
	font-size: 14px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #4e4e4e;
	line-height: 22px;
	width:20%;
	float:left;
	}
.inds-trainig-item .inds-item a{
	color: #4e4e4e;
	}
.inds-trainig-item .inds-item .icn-box {
	width: 150px;
	height: 150px;
	margin: auto;
	margin-bottom: 10px;
	}
.inds-trainig-item .inds-item .icn-box .icn {
	width: 100%;
	height: 100%;
	line-height: 230px;
	box-shadow: 0 0 0 5px #f2f2f2;
	-webkit-box-shadow: 0 0 0 5px #f2f2f2;
	}
.inds-trainig-item .inds-item .icn-box .icn-live {
	background: #63b598 url(../images/live-project-icn.png) no-repeat center center;
	}

.inds-trainig-item .inds-item .icn-box .icn-learn {
	background: #d3b184 url(../images/learn-anywhere-icon.png) no-repeat center center;
	}

.inds-trainig-item  .inds-item .icn-box .icn-tk-free {
	background: #f04c4a url(../images/practic-test-icn.png) no-repeat center center;
	}
.inds-trainig-item  .inds-item .icn-box .icn-interview {
	background: #9693be url(../images/interview-icn.png) no-repeat center center;
	}
.inds-trainig-item  .inds-item .icn-box .icn-360 {
	background: #ecca81 url(../images/360-degree.png) no-repeat center center;
	}
.few-thing-item h3{
	margin:0px 0 5px 0;
	color:#2f2f2f;
	font-size:16px;
	text-transform:uppercase;
	}
.few-thing-item{
	padding:15px 0;
	}
.mob-video{
	padding:20px;
	background: #6D8184;
	}
/*************************
*******Training Solution******
**************************/
.black-banner-box{
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 10%;
	text-align:left;
	}
.classroom-banner-text .txt-bx{
	width:475px;
	}
.campus-banner-text .txt-bx{
	width:620px;
	}
.campus-banner-text .bnr-txt-w{
	width:320px;
	}
.campus-banner-text ul li{
	float:left;
	}
.black-banner-box .txt-bx{
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 20px;
	}
.black-banner-box .txt-bx span{
	font-size:24px;
	color:#ffc000;
	display:block;
	margin-bottom:15px;
	}
.black-banner-box .txt-bx ul li{
	font-size:16px;
	padding:5px;
	position:relative;
	}
.black-banner-box .txt-bx ul li:before{
	content:"\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:20px;
	margin-right:10px;
	}
.feature-classroom{
	margin:30px 0;
	}
.feature-classroom .v-center{
	padding-left:15px;
	}
.feature-classroom h3{
	color:#2f2f2f;
	font-size:16px;
	margin-top:0px;
	padding-bottom:8px;
	border-bottom:1px dashed #787878;
	}
.classroom-icn-img{
	width:100px;
	text-align:center;
	}
.classroom-icn{
	background:#f6f6f6;
	display: table-cell!important;
    vertical-align:middle;
	position:relative;
	border-right:3px solid #787878;
	}
.classroom-icn:after{
	content: '';
	position: absolute;
	right: -10px;
	top: 40%;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #787878;
	}
.v-center {display:table!important;}

.v-center div[class*='col-']{
	display: table-cell!important;
    vertical-align:middle;
    float:none;
}
.r-event-lst h2{
	color: #2f2f2f;
	font-size: 14px;
	display: block;
	margin-top:0px;
	border-bottom: 1px solid #909090;
	padding: 8px 15px 8px 30px;
	position: relative;
	font-weight: 400;
	background: #f4f4f4;
	}
.r-event-lst h2:before{
	content:"\f058";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	position: absolute;
	left: 10px;
	}
.event-lst-cnt .r-event-icn{
	border:1px solid #e4e4e4;
	width:100px;
	padding:10px;
	height:100px;
	display: table-cell!important;
    vertical-align:middle;
	}
.event-lst-cnt .r-event-icn img{
	width:100%;
	}
.event-lst-cnt .r-event-dtl{
	margin-left:10px;
	}
.event-lst-cnt .r-event-dtl span{
	display:block;
	margin:5px 0;
	}
.event-lst-cnt .r-event-dtl span.r-event-date:before{
	content:"\f073";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	margin-right:10px;
	}
.event-lst-cnt .r-event-dtl .r-event-btn{
	margin-top:10px;
	}
.event-lst-cnt .r-event-dtl span.r-event-time:before{
	content:"\f017";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:16px;
	margin-right:10px;
	}
.embed-responsive {
  margin: 10px 0 0;
  width: 100%;
  height: 100%;
}
.online-training-banner-text{
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 0%;
	text-align:left;
	}
.box-heading{
	background:#f6f6f6;
	box-shadow:2px 3px 0px #707070;
	padding:10px;
	text-align:center;
	margin-bottom:20px;
	}
.box-heading h2{
	margin:0px;
	font-size:16px;
	}
#training-calender, #help-us-form{
	margin-top:20px;
	}
.training-cal-accordian .panel {
	margin-bottom: 5px;
	}
.training-cal-accordian .panel-default>.panel-heading{
	background:#fffcf4;
	padding:0px;
	}
.training-cal-accordian .panel-title a{
	font-weight:400;
	margin:0px;
	font-size:16px;
	padding: 10px 15px;
	text-transform:none;
	}
.training-cal-accordian .panel-title a[aria-expanded="true"]:after{
	content:"\f056";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	float:right;
	text-decoration: inherit;
	font-size:18px;
	}
.training-cal-accordian .panel-title a[aria-expanded="false"]:after{
	content:"\f055";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	float:right;
	text-decoration: inherit;
	font-size:18px;
	}
.help-form{
	background:url(../images/pattern.png);
	padding:15px;
	}

.help-form .divide{
	border:1px solid #d4d4d4;
	margin:15px 0;
	}
.domain-area-item{
	height:120px;
	border:1px solid #cfcfcf;
	background:#f4f4f4;
	margin:15px 0;
	border-radius:2px;
	}
.domain-area-item:hover .domain-icn{
	background:#bb2929;
	}
.domain-area-item:hover .domain-icn:after{
	border-left: 9px solid #bb2929;
	}
.domain-area-item:hover h3{
	color:#bb2929;
	}

.domain-area-item h3{
	color:#2f2f2f;
	font-size:16px;
	text-align:center;
	margin:0px;
	font-weight:400;
	text-transform:uppercase;
	}
.domain-icn-img{
	width:110px;
	text-align:center;
	}
.domain-name{
	display: table-cell!important;
    vertical-align:middle;
	position:relative;
	width:100%;
	padding:0 15px;
	}
.domain-icn{
	background:#515151;
	display: table-cell!important;
    vertical-align:middle;
	position:relative;
	}
.domain-icn:after{
	content: '';
	position: absolute;
	right: -9px;
	top: 41%;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #515151;
	}
.course-list li{
	position:relative;
	list-style:none;
	padding:10px 10px;
	border-bottom:1px solid #787878;
	}
.course-list li:hover{
	background:#FFEDDD!important;
	}
.course-list li:nth-child(odd){
	background:#f7f7f7;
	}
.course-list li h3{
	margin:0px;
	font-weight:400;
	font-size:16px;
	}
.course-list li h3 a:hover{
	color:#bb2929;
	}
.course-list li h3 a{
	color:#2f2f2f;
	}
.course-list li h3:before{
	content:"\f0da";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size:18px;
	margin-right:10px;
	}
.course-list li .btn-black{
	margin-left:10px;
	}
.course-list-btn{
	position:absolute;
	right:10px;
	top:7px;
	}
.inds-trainig-item .inds-item:hover .icn-box .icn{
	box-shadow: 0 0 0 5px #B5B5B5;
	-webkit-box-shadow: 0 0 0 5px #B5B5B5;
	}
#few-things{
	background:#F7F7F7;
	}
.indus_cont_attach i{
	font-size:18px;
	vertical-align:middle;
	margin-right:5px;
	font-weight:500;
	color:#5E4028;
	}
.indus_cont_attach{
	padding:10px;
	font-size:14px;
	background:#FFF2E7;
	font-weight:500;
	border-bottom:1px solid #5E4028;
	}

/*************************
*******broad categories page******
**************************/
#broad-categories .course-list{
	margin:20px 0;
	}
.broad-cat-heading{
	position:relative;
	background:#515151;
	padding:15px;
	margin-top: 43px;
	}
.broad-cat-heading:after{
	content:'';
	clear:both;
	height:5px;
	position:absolute;
	width:100px;
	}
.broad-cat-heading span{
	position: absolute;
	top: -47px;
	margin-right: 20px;
	text-align: center;
	border: 3px solid #515151;
	background: #fff;
	padding: 10px;
	}
.broad-cat-heading h2{
	color:#fff;
	font-size:20px;
	font-weight:400;
	margin: 15px 0 15px 130px;
	text-transform:uppercase;
	}
#free-practice-test .related-course a{
	font-size:16px;
	padding: 10px 15px 10px 30px;
	}
.top-sm-buffer{
	margin-top:20px;
	}
.student-w-gallery h4, .student-w-video h4{
	margin:0px;
	font-weight:400;
	display: inline-block;
	}
.student-w-gallery h4:after, .student-w-video h4:after{
	content:'';
	border-top: 36px solid transparent;
	border-left: 36px solid #cecece;
	position: absolute;
	}
.student-w-gallery h4 span, .student-w-video h4 span{
  font-size: 15px;
  background: #cecece;
  padding: 10px 10px;
  min-width: 220px;
  display: inline-block;
  color: #333;
	}
.student-w_bx {
  padding: 10px;
  position:relative;
  border: 1px solid #cecece!important;
  background: #f6f6f6!important;
}
.w-gallery .w_gallery_img, .student-video-cntnr{
	width: 49%;
	padding: 5px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	background: #FFFFFF;
	float:left;
	}
.student-video-cntnr{
	height: 202px;
	}
.w-gallery .w_gallery_img:first-child, .student-video-cntnr.first{
	margin-right:2%;
	}
.w-gallery .w_gallery_img img, .student-video-cntnr iframe{
	width:100%;
	height: 190px;
	}
.w-gallery-control{
	position:absolute;
	right: -2px;
	top: -29px;
	}
.w-gallery-control .left, .w-gallery-control .right{
	background:#cecece;
	padding: 3px 11px;
	margin-left: 5px;
	color:#333;
	font-size: 22px;
	text-align:center;
	}
.w-gallery-control .left:hover, .w-gallery-control .right:hover{
	background:#C22A2A;
	color:#fff;
	}
.ceh-vdo .video_ht{
	margin-top:0px;
	height:230px;
	}
.pmp-vdo .video_ht{
	margin-top:0px;
	height:180px;
	}
.ceh-banner-text {
	right: 0px;
	left: 15px;
	bottom: auto;
	top: 20%;
	text-align: left;
	}
.ceh-banner-text .txt-bx:after {
  content: '';
  border-bottom: 62px solid transparent;
  position: absolute;
  right: -49px;
  top: 0px;
  border-left: 49px solid rgba(0, 0, 0, 0.75);
}
.ceh-banner-text .txt-bx {
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  padding: 20px;
}
.ceh-banner-text .txt1{
	width: 515px;
	font-size: 35px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	}
.ceh-banner-text .txt2{
	width: 450px;
	margin-top: 10px;
	font-size: 33px;
	font-weight: 400;
	color: #f6a800;
	font-family: 'Oswald', sans-serif;
	}
.partner-gallery .carousel-inner img{
	width:auto;
	}
.partner-gallery .carousel-inner{
	width:100%;
	}

.partner-gallery .item .ptnr-img-bx{
	display:table;
	width:100%;
	background:#fff;
	border:1px solid #d4d4d4;
	border-radius:3px;
	text-align:center;
	}
.partner-gallery .item .ptnr-img{
	display:table-cell;
	vertical-align:middle;
	}
.ceh-ptnr .item .ptnr-img-bx{
	height:230px;
	}
.pmp-ptnr .item .ptnr-img-bx{
	height:180px;
	}
#associated-with span.ptnr-logo{
	display:inline-block;
	margin:0 10px;
	}
table.itil-module-table{
	width:100%!important;
	min-width:800px;
	border-spacing: 1px!important;
	}
.img-border{
	border-radius:5px;
	border:1px solid #d4d4d4;
	margin-bottom:10px;
	}
table.itil-module-table td span{
	color:#bb2929;
	}
table.itil-module-table th{
	background-color:#bb2929;
	color:#fff;
	font-weight:400;
	font-size: 16px;
	}
table.itil-module-table td, table.itil-module-table th{
	padding:5px;
	text-align:center;
	border:1px solid #a6a6a6;
	}
table.itil-module-table td{
	font-size:16px;
	}
table.itil-module-table td strong{
	color:#0789AE;
	}
table.itil-module-table tr.total_row td{
	background:#e6ad15;
	color:#fff;
	font-size: 16px;
	font-weight:bold;
	}
table.itil-module-table tr.total_row td strong{
	color:#fff;
	}
table.itil-module-table tr.row_color_1 td{
	background:#fff3f3;
	}
table.itil-module-table tr.row_color_2 td{
	background:#FDF4F4;
	}
table.itil-module-table tr.row_color_3 td{
	background:#EEF9FD;
	}
table.itil-module-table tr.row_color_4 td{
	background:#fff3f3;
	}
.m-txt{
	margin-top:20px;
	font-size:16px;
	}
.m-txt .overview_list li{
	float:left;
	width:200px;
	}
.road_map_legend{
	font-size:16px;
	}
.road_map_legend h3{
	color:#ed1111;
	text-transform:uppercase;
	}
.level-bx{
	background: #f6f6f6;
	padding:5px 2px;
	position: relative;
	border-right: 3px solid #787878;
	}
.level-bx:after{
	content: '';
	position: absolute;
	right: -10px;
	top: 40%;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #787878;
	}
#level-certification .col-md-3:last-child .level-bx:after{
	border: none;
	}
.level-bx .level-text{
	width:100%;
	padding:10px;
	font-size:13px;
	height:130px;
	position: relative;
	}
.level-bx .level-text h4{
	font-size:14px;
	font-weight:400;
	margin-top:0px;
	}
.level-bx .level-text h4 span{
	color:#c52d2f;
	display:block;
	}
.thank-box{
	min-height:200px;
	}
.partner_list li{
	float:left;
	margin:1%;
	width:18%;
	border: 1px solid #E7E7E7;
	padding: 10px 10px;
	box-shadow: -4px -4px 0px #EFEFEF;
	}
.partner_list li img{
	width:100%;
	}
#contactus-section{
	background:#f5f5f5;
	padding:50px 0;
	}
.contact_address h3{
	font-size: 18px;
	font-weight: 400;
	color: #000;
	}
.contact_address .cmpny-nm{
	font-size: 15px;
	color: #BB2929;
	}
.contact_address .call_now_icon {
	background: url(../images/telephone_icon.jpg) left center no-repeat;
	height: 24px;
	padding-left: 30px;
}
.contact_address .mobile_icon {
	background: url(../images/mobile_icon.jpg) left center no-repeat;
	height: 33px;
	padding: 5px 0 0 30px;
}
.contact_address .email_icon_contact {
  background: url(../images/email_icon_contact.jpg) left center no-repeat;
  height: 32px;
  padding: 5px 0 0 30px;
}
.contact_address a{
	color:#BB2929;
	}
.contact-emailid{
	margin-bottom:20px;
	}
.contact-emailid span{
	display:block;
	margin-bottom:5px;
	}
.job-accordian .job-panel{
	margin-bottom:10px;
	}
.job-accordian .job-heading{
	position:relative;
	padding:12px;
	background:#fff;
	list-style: none;
	border-bottom: 1px solid #787878;
	}
.job-accordian .job-heading:nth-child(odd) {
  background: #f7f7f7;
}
.job-accordian .job-heading h4{
	margin: 0px;
	font-weight: 400;
	font-size: 16px;
	}
.job-accordian .job-heading h4:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 18px;
  margin-right: 10px;
}
.job-accordian .job-heading h4 a{
	color: #2f2f2f;
	}
.job-accordian .job_detail{
	padding:10px;
	}
.job-accordian .job-detail-top label{
	font-size:16px;
	display:inline-block;
	width:150px;
	}
.job-accordian .job_detail h3{
	margin-top:10px;
	color:#bb2929;
	}
.why-attent-event h5{
	font-size:18px;
	}
.event-page-tab .tab-panel{
	padding:15px 0;
	}
.event-item{
	padding:20px 15px;
	border-bottom:1px solid #bebebe;
	}
.event-item.last{
	border-bottom:0px;
	}
.event-panel .event-item:nth-child(even){
	background:#F4F4F4; border-top:solid 1px #dcdcdc; border-bottom:solid 1px #dcdcdc;
	}
.event-item .event-lst-cnt .r-event-icn{
	width:160px;
	height:160px;
	}
.event-item .r-event-dtl{
	font-size:20px;
	margin-left:20px;
	}
.event-item .event-lst-cnt .r-event-dtl span.evnt-msg{
	margin:30px 0;
	font-size:14px;
	display:block;
	}
.event-item .event-lst-cnt .r-event-dtl span {
  margin:15px 0;
}
.event-item .r-event-btn .btn{
	margin-right:10px;
	}
.event-item h4, .event-item h1, .event-item h4 a{
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
	color: #4f5152;
	margin-top:0px;
	}
.event-item .spkr-name{
	font-size:15px;
	font-style:italic;
	color:#949494;
	}
.event-item .event-lst-cnt .r-event-dtl span.r-event-date:before, .event-item  .event-lst-cnt .r-event-dtl span.r-event-time:before{
	font-size:20px;
	}
.event-benefit-box{
	margin:20px 0;
	}
.event-benefit{
	padding:20px 0 0 0;
	border-top:5px solid #bb2929;;
	}
.event-benefit-text h3{
	margin-top:0px;
	color:#333;
	font-size:16px;
	}
.event-benefit-text{
	padding:15px;
	margin-top:20px;
	background:#f2f2f2;
	min-height: 250px;
	}
.webinar-detail{
	margin-bottom:20px;
	}
.webinar-detail h3{
	font-size:18px;
	color:#333;
	}
.book-form-dtl .event-lst-cnt .r-event-icn{
	width:80px;
	height:80px;
	background:#fff;
	}
.panel-orange h4{
	color:#fff;
	font-weight:400;
	margin-top:0px;
	}
.panel-orange .close {
  color: #fff;
  opacity: .8;
}
.panel-orange>.panel-heading{
	color: #fff;
	background: #B35B0D;
	border:1px solid #B35B0D;
	}
.panel-orange{
	border:1px solid #B35B0D;
	}
.testimonial-text { 
	padding: 20px;
	background: #f8f8f8;
	box-shadow:0px 5px 3px #e4e4e4;
	}
.testimonial-item{
	margin-bottom:20px
	}
.testimonial-author{
	float: right;
	width: 430px;
	position:relative;
	text-align: center;
	color:#2f2f2f;
	text-transform:uppercase;
	}
.testimonial-author i{
	font-size: 71px;
	position: relative;
	margin: auto;
	width: 100%;
	line-height: 0px;
	top: 7px;
	color: #F8F8F8;
	text-shadow: 0 5px 2px #E4E4E4;
	}
.testimonial-author span{
	font-size:16px;
	}
.testimonial-author p{
	font-style:italic;
	}
.testimonial-text p{
	font-size: 16px;
	line-height: 28px;
	}
.testimonial-text p:before{
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 25px;
	margin-right: 5px;
	}
.testimonial-text p:after{
	content: "\f10e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 25px;
	margin-left: 5px;
	}
.about-feature .classroom-icn-img {
  	width: 120px;
	}
.no-event{
	margin-bottom:20px;
	text-align: center;
	font-size: 24px;
	padding: 40px;
	background: url(../images/pattern.png);
	}
.captcha-m {
  padding: 3px 12px;
}
.right-pnl-accordian .red-heading a[aria-expanded="false"]:after {
  content: "\f055";
  font-family: FontAwesome;
  color:#000;
  font-style: normal;
  font-weight: normal;
  float: right;
  text-decoration: inherit;
  font-size: 18px;
}
.right-pnl-accordian .panel{
	margin-bottom:0px;
	}
.right-pnl-accordian .red-heading a[aria-expanded="true"]:after {
  content: "\f056";
  color:#000;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  float: right;
  text-decoration: inherit;
  font-size: 18px;
}
.font-20{
	font-size:18px;
	margin:10px 0;
	display:block;
	font-weight:400;
	}
.pdf-pop-box iframe{
	height:460px;
	}
.pdf-pop-box{
	min-height:460px;
	}
.lft-img{
	margin-right:20px;
	}
	
	

.m_bottom_5 {
margin-bottom: 5px;
}
.half_column:first-child {
padding: 0 0px 0 0;
}
.m_bottom_15 {
margin-bottom: 15px;
}
.d_inline_b {
display: inline-block;
width:180px;
}
.f_left {
float: left;
}

.half_column {
width: 100%;
padding: 0 0 0 0px;
}

.footer-box { border:1px solid #383838; border-top:1px solid #4b4b4b; border-bottom:1px solid #3d3d3d; border-radius:4px; overflow:hidden;
margin-bottom: 20px;
margin-top:20px;
    color: #FFFFFF;
	background: #454545; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #454545 0%, #363636 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#363636)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #454545 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #454545 0%,#363636 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #454545 0%,#363636 100%); /* IE10+ */
background: linear-gradient(to bottom,  #454545 0%,#363636 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#363636',GradientType=0 ); /* IE6-8 */

}


.left1 {
    background: #fc9b01;
    border-radius: 6px;
	padding:10px;
	position:relative;
}

/* ------------------------------------- module_new --- */
.module_new  { margin-top:20px; }
.module_new  h3 { margin-top:0px; border-bottom:1px solid #dcdcdc; background:url(../images/title_bg.gif) left top repeat-x; border-radius:4px 4px 0 0; margin-bottom:0; padding-left:20px; padding-top:7px; padding-bottom:7px;}

.module_new  .boxIndent { background:#fff; border-radius:0 0 4px 4px; padding:20px; padding-bottom:5px;}
.module_new.new2  .boxIndent { background:#fff; border-radius:0 0 4px 4px; padding:0px; padding-bottom:18px;}

.vmgroup_new  ul { margin-bottom:0px;}
.vmgroup_new  ul li                   { display: block; float: none; padding: 0 0 20px 0; min-height: auto; width: 100%;  margin: 0 0 0 0; border:none; background:none;}
.vmgroup_new.new2  ul li                   { display: block; float: none; padding: 0 0 20px 0; min-height: auto; width: 100%;  margin: 0 0 0 0; border:none; background:none;}

.vmgroup_new  ul li  .product-box      { border:none; width:189px; text-align:left; float:left; min-height:0px; margin-left:20px; padding:10px 19px 21px 19px; background:none; position:relative; border-radius:6px;-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
}
.vmgroup_new.new2  ul li  .product-box { width:243px; padding:15px 0 0 0;box-shadow:none!important; border-top:1px solid #eaeaea; border-radius:0;} 
.vmgroup_new.new2  ul li:first-child  .product-box { border:none;}
.vmgroup_new  ul li  .product-box:hover { box-shadow: 0 0 15px rgba(0,0,0,0.2); z-index:1; position:relative;}
.vmgroup_new  ul li  .product-box:first-child { margin-left:0;}
.vmgroup_new   ul li .browseImage { text-align:center;height:auto; width:100%; padding:0px;}
.vmgroup_new.new2  ul li .browseImage { text-align:right;height:auto; width:100px; padding:0px; float:left;}

.vmgroup_new   ul li .browseImage img { text-align:center; width:175px; height:175px;}
.vmgroup_new.new2   ul li .browseImage img { text-align:right; width:90px; height:90px;}

.vmgroup_new   ul li .cat {margin:0 0 0 0; text-align:left; padding:0; }

.vmgroup_new   ul li .cat a { color:#a0a0a0; font:normal 16px/22px Arial, Helvetica, sans-serif; text-decoration:none; display:inline-block; text-transform:none;}
.vmgroup_new   ul li .cat a:hover { color:#121212; text-decoration:none;}


.vmgroup_new   ul li .Title {margin:0 0 0 0; text-align:left; padding:4px 0 0 2px; min-height:40px;}
.vmgroup_new.new2   ul li .Title { float:right; width:120px; padding-top:2px; padding-right:10px; padding-left:10px;}
.vmgroup_new   ul li .Title a { color:#585858; font:bold 12px/18px Arial, Helvetica, sans-serif; text-decoration:none; display:inline-block; text-transform:none;}
.vmgroup_new   ul li .Title a:hover { color:#fc7d01; text-decoration:none;}

.vmgroup_new  ul li .Price .WithoutTax , .vmgroup_new  ul li .Price .discount { display:none;}

.vmgroup_new  ul li .Price { }
.vmgroup_new  ul li .Price .sales { color:#fc9b01;  display:inline-block; font:600 24px/36px Arial, Helvetica, sans-serif; font-family: 'Open Sans', sans-serif;  border-bottom:none; text-align:left; padding:3px 0 0 0;   z-index:99; float:none;}


.vmgroup_new.new2  ul li .Price .sales { color:#fc9b01;  display:inline-block; font:600 20px/22px Arial, Helvetica, sans-serif; font-family: 'Open Sans', sans-serif;  border-bottom:none; text-align:left; padding:5px 0 0 0;   z-index:99; float:none;}

.vmgroup_new.new2  ul li .disc .Price .WithoutTax{ color:#b1b1b1;  display:block; font:600 20px/22px Arial, Helvetica, sans-serif; font-family: 'Open Sans', sans-serif;  border-bottom:none; text-align:left; padding:3px 0 0 0;   z-index:99; float:none; text-decoration:line-through;}



.boxIndent input
{
	width:205px;
	margin-top:0px;
	border:solid 1px #c4c4c4;
	float:left;
	margin-top:0px;	
	padding:7px 10px;
	color:#919191;
	margin-right:10px;
}
